.lowerbox{
    width: 400px !important;
    height: 100px !important;
    overflow: hidden !important;
}

.mainBox:hover:lowerbox{
    top: 20px !important;
}

/* .box .image:hover{
    top: 20px !important;
} */

/* .lowerbox:hover upperbx{
    bottom: -20px !important;

} */